doctype html
html(lan = en)
	head
		title Threadex
		link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
		link(rel='stylesheet', href='/style.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')

	body(style='text-align:center')
		h1 Uh Oh! We can't find what you're looking for :(
		br
		br
		a(href='/') ET Phone Home
		br
		br
		img(src='http://dyom.gtagames.nl/40/41152/screen.png', style='height: 150px; width: auto')