extend sidebar.pug

block main
	div.item-container
		div.item.shadow
			h4 So you want to create a thread, eh?
			label(for='title') Title
			input(id='title', placeholder='My New Thread')
			label(for='url') Topic #[i  ] (AlphaNumeric Only)
			input(id='url', placeholder='../t/ \'topic\'')
			label(for='desc') Description
			textarea(id='desc', rows='4')
			button.right(onclick='create_thread()') Create

		script.
			show_result_set();
			function create_thread(){
				var title = $('#title').val();
				var url = $('#url').val();
				var desc = $('#desc').val();
				show_box('Creating ' + title + '...', 0);
				var user = firebase.auth().currentUser;
				
				// validate inputs
				if (!user){
					show_box('Login to create a thread.', 1);
					return;
				}
				else if (title == ''){
					show_box('Title can\'t be empty.', 1);
					return;
				}
				else if (url == ''){
					show_box('Topic can\'t be empty.', 1);
					return;
				}
				else if (!/^[a-zA-Z0-9]+$/.test(url)){
					show_box('Topic contains invalid characters.', 1);
					return;
				}
				else if (desc == ''){
					show_box('Description can\'t be empty.', 1);
					return;
				}
				else{
					var ref = firebase.database().ref('t').child(url);
					ref.once('value', function(snapshot){
						if (snapshot.exists()){
							show_box('This url is already in use.', 1);
						}else{
							ref.set({
								title: title,
								desc: desc,
								favorites: 0
							});
							var ref2 = firebase.database().ref('posts').child(url);
							ref2.push({
								name: 'Threadex Admin',
								content: 'Welcome to ' + title + '. This thread was created by ' +
								user.displayName + ' on ' + Date() + '.',
								date: Date()
							}).then(function(){
								setTimeout(function(){
									location.pathname = '/t/' + url;
								}, 750);
							});
						}
					});
				}
			}



