extend sidebar.pug

block main
	div.item-container
		div.item.shadow
			h4 Welcome to Threadex
			p Welcome to Threadex! This site is currently in #[i Beta] and is rapidly changing. If you have comments or suggestions, post on #[a(href='/t/request') /t/request].

		div.item.shadow
			h4 What is it?
			p Threadex is a thread based messaging forum. You can find topics you're interested in, share your ideas, and listen to what others have to say!

		div.item.shadow
			h4 Finding Threads
			p To find a topic, head to the #[i Threads] tab above. Then, click the box to view posts associated with that thread. If you can't find something you're looking for, hit the 'Create Thread' button on the right.

		div.item.shadow
			h4 Posting
			p If you have a Threadex account, you can post and comment. To post, hit 'Create Post' while on the thread. To comment, click a post to expand the content, then scroll to the bottom.

		div.item.shadow
			h4 Favorites
			p To save a thread for later, hit the favorites button on the right. All of your favorited threads will show up in your favorites tab. It's like a bookmark right in the site!

		script.
			show_result_set();
			$('.item').css('cursor','auto');
			

					