extend sidebar.pug

block main
	.item-container
		.large-image-view.shadow
			button.right(onclick='hide_image()') X
			img

		script.
			var thread = location.pathname.replace('/t/', '');
			var ref = firebase.database().ref('posts/' + thread);
			ref.once('value', function(snapshot){
				var date = new Date();
				snapshot.forEach(function(childsnap){
					var diff = Math.round((date - new Date(childsnap.val().date)) / (1000 * 60));	// minutes
					var timediff;
					if (diff < 60)
						timediff = diff + ' minutes ago';
					else {
						diff = Math.round(diff / 60);	// hours
						if (diff < 24)
							timediff = diff + ' hours ago';
						else {
							diff = Math.round(diff / 24);	// days
							if (diff < 365)
								timediff = diff + ' days ago';
							else{
								diff = Math.round(diff / 365);	// years
								timediff = diff + ' years ago';
							}
						}
					}
					if (diff == 1){
						var pos = timediff.lastIndexOf('s');
						timediff = timediff.substring(0, pos) + timediff.substring(pos+1);
					}
					var val = childsnap.val();
					var div = "<div class='item shadow'>" + 
					"<div class='flex-container'><div style='width: 60px'>";
					if (val.imgurl != null)
						div += "<div class='image-wrapper'><img class='post-image' src='" + val.imgurl + "'></div>";
					div += "</div><div class='flex'>" + 
					
					"<i class='right'>" + timediff + "</i>" + 
					"<h4>" + val.name + "</h4>" + 
					"<p>" + val.content + "</p>";
					
					div += "</div></div>\n";
					$('.item-container').prepend(div);
				});
			}).then(function(){
				show_result_set();
				$('.post-image').click(function(){
					var container = $('.large-image-view');
					$('.large-image-view img').attr('src', this.src);
					container.fadeIn(300);
				});
			});


			
