*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	z-index: 0;
	background: #eee;
	font-family: 'Open Sans';
	font-size: .9em;
	min-width: 700px;
	color: #333;
}
.container{
	max-width: 1100px;
	margin: 0 auto;
}
.inline{display: inline-block;}
.left{float:left;}
.right{float: right;}
.red{color: red;}
.shadow{box-shadow: 0px 2px 3px lightgray;}

i{
	display: inline-block;
	color: #aaa;
	font-size: .9em;
}

h4{
	color: #21ce99;
	margin-bottom: 5px;
}

/*--------------------------------
              Flex
--------------------------------*/
	.flex-container{
		display: -webkit-flex;
		display: flex;
	}
	.flex{
		-webkit-flex: 1;
		flex: 1;
	}
	.flex:nth-child(1){margin-right: 10px;}
	.flex:nth-child(2){margin-left: 10px;}


/*--------------------------------
         Heading Section
--------------------------------*/
	header{
		display: block;
		width: 100%;
		padding: 0 0 8px 40px;	/* for nav underline */
		background: url('/threadex.png') no-repeat center center #222;
		background-size: 150px;
		color: #eee;
	}
	h1{ padding-top: 80px; }
	header p{ padding-bottom: 30px; }
	nav a{
		padding: 5px 0;
		margin: 0 20px 0 0;
		color: #eee;
		background: transparent;
		border-radius: 0px;
		border-bottom: 3px solid transparent;
		transition: .15s all;
	}
	nav a.current{
		border-color: #21ce99;
	}
	nav a:hover{
		color: white;
		border-bottom: 3px solid white;
	}


/*--------------------------------
          Side Section
--------------------------------*/
	.side-container{
		float: right;
		margin: -100px 20px 20px;
		width: 320px;
	}
	.side-top{
		padding: 130px 20px 20px;
		border-radius: 2px 2px 0 0;
		background: #21ce99;
		color: white;
	}
	.side-bottom{
		padding: 20px;
		border-radius: 0 0 2px 2px;
		background: white;
	}
	.side-bottom .flex:nth-child(1){flex: 10;}
	.side-item{
		margin-top: 15px;
		padding: 20px;
		border-radius: 2px;
		background: white;
		overflow: auto;
	}
	.side-item input{width: 200px;}
	.side-item-clear{margin-top: 15px;}
	.side-item-clear button{width: 100%;}

	#loginbuttons{display: none;}
	#login{display: none;}
	#logoutbutton{display: none;}
	#createpost{display: none;}


/*--------------------------------
         Content Section
--------------------------------*/
	.item-container{
		padding: 20px;
		margin-right: 340px;
	}
	.item{
		display: none;
		overflow: auto;
		margin-bottom: 15px;
		padding: 20px;
		border-radius: 2px;
		background: white;
	}
	.item p{white-space: pre-wrap;}
	.image-wrapper{
		overflow: hidden;
		width: 50px;
		height: 50px;
		margin-right: 20px;
	}
	.post-image{ height: 50px; }
	.large-image-view{
		overflow: auto;
		display: none;
		position: fixed;
		bottom: 20px; right: 20px;
		width: auto;
		padding: 20px;
		background: #222;
		max-width: 50%;
		border-radius: 2px;
	}
	.large-image-view img{
		margin: 0px 5px 0px 0px;
		max-width: 90%;
		max-height: 50vh;
	}
	.item-hover{
		transition: .2s all;
		box-shadow: 0px 3px 4px #bbb;
	}


/*--------------------------------
           Comments
--------------------------------*/
	.responses{
		background: rgba(0,0,0,0.02);
		display: none;
		margin-top: 20px;
		padding: 0 15px 15px 15px;
		border: 1px solid #eee;
		border-radius: 2px;
		font-size: .9em;
		overflow: auto;
	}
	.responses textarea{
		margin-top: 15px;
		/*max-width: 300px;*/
		background: white;
	}
	.comment{
		padding: 15px 0;
		border-bottom: 1px solid #eee;
	}

/*--------------------------------
           Loading Bar
--------------------------------*/
	.loading{
		padding: 20px;
		text-align: center;
	}
	.loading-circle{
		display: inline-block;
		height: 6px; width: 6px;
		background: #222;
		border-radius: 3px;
		margin: 5px;
		animation: load .5s ease-in-out 0s infinite alternate;
	}
	.loading-circle:nth-child(1) { animation-delay: 0s; }
	.loading-circle:nth-child(2) { animation-delay: .2s; }
	.loading-circle:nth-child(3) { animation-delay: .4s; }

	@keyframes load {
		0% { transform: scale(1); }
  		30% { transform: scale(1); }
  		100% { transform: scale(1.5);
  			opacity: .5;
  		}
	}


/*--------------------------------
           Alert Box
--------------------------------*/
	#alert_box{
		display: none;
		position: fixed;
		z-index: 100;
		top: 20px;
		right: 20px;
		max-width: 400px;
		padding: 20px;
		background: black;
		border: 2px solid;
		border-radius: 2px;
	}


/*--------------------------------
            Buttons
--------------------------------*/
	button{
		border: none;
		padding: 8px 15px;
		border-radius: 2px;
		color: white;
		background: #21ce99;
		font-size: .9em;
		transition: .15s all;
	}
	button:hover{
		background: #1ba57b;
		box-shadow: 0px 3px 4px #bbb;
	}


/*--------------------------------
             Forms
--------------------------------*/
	input, textarea{
		padding: 7px;
		width: 100%;
		font-size: 1em;
		border: 1px solid #eee;
		border-radius: 2px;
		background: #f9f9f9;
		margin-bottom: 5px;
	}
	label{
		display: block;
		margin: 10px 0;
	}



